<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core"/>
  </configSections>
  <authenticationProviders>
    <providers>
      <!--<add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>-->
      <!--<add name="Google" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>-->
      <!--<add name="Twitter" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>-->
      <!--<add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>-->
    </providers>
  </authenticationProviders>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <add key="sa.Google" value="key:608440432677-1emouti7v2fis2b8vihhfc51n20s7k4s.apps.googleusercontent.com;secret:nrYvI70zaEN2IO7jtu1ka3SH;"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>